.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.inputField {
  padding-left: 10px;
  border: 1px solid var(--light-border);
  border-radius: 7px;
  outline: none;
  height: 50px;
  font-size: 15px;
}

.button {
  font-size: 15px;
  color: var(--add-btn-icon);
  background-color: var(--add-btn-bg);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .inputField,
  .button {
    height: 50px;
  }

  .inputField {
    flex-grow: 1;
  }

  .button {
    width: 100px;
  }
}
