.container {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.noNotesMsg {
  margin-top: 100px;
  text-align: center;
  color: var(--theme-contrast);
}

@media screen and (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 20px;
    justify-content: center;
  }
}
