.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  margin: 30px auto;
  width: 90%;
}

.rightWrapper {
  display: flex;
  gap: 10px;
}

.sorterBtn,
.favBtn,
.themeBtn {
  width: 30px;
}

@media screen and (min-width: 769px) {
  .container {
    padding: 0 30px;
  }

  .rightWrapper {
    display: flex;
    gap: 10px;
  }

  .sorterBtn,
  .favBtn,
  .themeBtn {
    width: 30px;
  }
}
