:root {
  --main-bg: #ffffff;
  --theme-btn: #120f1d;
  --light-border: #b8b8b8;
  --add-btn-icon: #ffffff;
  --add-btn-bg: #120f1d;
}

.darkTheme {
  --main-bg: #120f1d;
  --theme-btn: #ffffff;
  --add-btn-bg: #255cf4;
}

html {
  background-color: var(--main-bg);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
