:root {
  --main-theme: #ffffff;
  --theme-contrast: #120f1d;
  --light-border: #b8b8b8;
  --add-btn-icon: #ffffff;
  --add-btn-bg: #120f1d;
}

.darkTheme {
  --main-theme: #120f1d;
  --theme-contrast: #ffffff;
  --add-btn-bg: #255cf4;
}

html {
  background-color: var(--main-theme);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Quicksand", sans-serif;
}

input {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
